<form
  *ngIf="showAddTask"
  class="add-form"
  [formGroup]="addTaskFormGroup"
  (ngSubmit)="onSubmit(addTaskFormGroup.value)"
>
  <div class="form-control">
    <label for="text">text</label>
    <input
      type="text"
      name="text"
      id="text"
      placeholder="Enter task text"
      formControlName="text"
    />
    <div
      *ngIf="
        addTaskFormGroup.get('text')?.invalid &&
        addTaskFormGroup.get('text')?.errors &&
        (addTaskFormGroup.get('text')?.dirty ||
          addTaskFormGroup.get('text')?.touched)
      "
    ></div>
    <app-validation-errors
      [errors]="addTaskFormGroup.get('text')!.errors!"
    ></app-validation-errors>
  </div>
  <div class="form-control">
    <label for="day">Day and time</label>
    <input
      type="text"
      name="day"
      id="day"
      placeholder="Enter task day and time!"
      formControlName="day"
    />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Reminder</label>
    <input
      type="checkbox"
      name="reminder"
      id="reminder"
      formControlName="reminder"
    />
    <div
      *ngIf="
        addTaskFormGroup.get('reminder')?.errors &&
        addTaskFormGroup.get('reminder')?.invalid &&
        (addTaskFormGroup.get('reminder')?.touched ||
          addTaskFormGroup.get('reminder')?.dirty)
      "
    >
      <app-validation-errors
        [errors]="addTaskFormGroup.get('reminder')!.errors!"
      ></app-validation-errors>
    </div>
  </div>
  <app-button
    btnValue="Save task!"
    btnClass="btn btn-block"
    btnType="submit"
    [btnDisabled]="!addTaskFormGroup.valid"
  >
  </app-button>
</form>
